server:
  port: 8082

spring:
  application:
    name: atividades-complementares-service

  datasource:
    # AQUI ESTÁ A CORREÇÃO:
    # Se a variável de ambiente DB_HOST existir (no Docker), usa ela.
    # Senão, usa 'localhost' (no seu PC).
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/atividades_complementares_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    br.com.inproutservices: DEBUG
    org.springframework.web: INFO